@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #1d1b1d;
}

@font-face {
  font-family: 'Buch';
  src: url('../public/font/TestSöhneBreit-Buch.otf');
}

@font-face {
  font-family: 'Kraftig';
  src: url('../public/font/TestSöhneBreit-Kräftig.otf');
}

.font-display {
  @apply font-kraftig text-[50px];
}
.font-h1 {
  @apply font-kraftig text-4xl;
}
.font-h2 {
  @apply font-kraftig text-[28px];
}
.font-h3 {
  @apply font-buch text-2xl;
}

.font-subtitle {
  @apply font-buch text-2xl;
}

.font-body-lg {
  @apply font-buch text-lg;
}

.font-body-md {
  @apply font-buch text-base;
}

.font-body-sm {
  @apply font-buch text-sm;
}
